# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dev env logs
/test_logs

# dev database
/data

# production
dist

# testing
coverage

# dependencies
node_modules

# misc
.DS_Store
